[submodule "01-starting-project"]
	path = 01-starting-project
	url = https://github.com/R06NV4LDR/Angular_01-starting-project
[submodule "02-investment-calculator"]
	path = 02-investment-calculator
	url = https://github.com/R06NV4LDR/MasterAngular_02-investment-calculator
[submodule "03-debugging"]
	path = 03-debugging
	url = https://github.com/R06NV4LDR/MasterAngular_03-debugging
[submodule "04-cmp-deep-dive"]
	path = 04-cmp-deep-dive
	url = https://github.com/R06NV4LDR/MasterAngular_04-cmp-deep-dive
[submodule "04.1-cmp-lifecycle"]
	path = 04.1-cmp-lifecycle
	url = https://github.com/R06NV4LDR/MasterAngular_04.1-cmp-lifecycle
[submodule "04.2w-binding"]
	path = 04.2w-binding
	url = https://github.com/R06NV4LDR/MasterAngular04.2w-binding
[submodule "05-drc-deep-dive"]
	path = 05-drc-deep-dive
	url = https://github.com/R06NV4LDR/MasterAngular_05-drc-deep-dive
[submodule "06-pipe-deep-dive"]
	path = 06-pipe-deep-dive
	url = https://github.com/R06NV4LDR/MasterAngular_06-pipe-deep-dive
[submodule "07-services-deep-dive"]
	path = 07-services-deep-dive
	url = https://github.com/R06NV4LDR/MasterAngular_07-services-deep-dive
