[submodule "01-starting-project"]
	path = 01-starting-project
	url = https://github.com/R06NV4LDR/Angular_01-starting-project
[submodule "02-investment-calculator"]
	path = 02-investment-calculator
	url = https://github.com/R06NV4LDR/MasterAngular_02-investment-calculator
[submodule "03-debugging"]
	path = 03-debugging
	url = https://github.com/R06NV4LDR/MasterAngular_03-debugging
[submodule "04-cmp-deep-dive"]
	path = 04-cmp-deep-dive
	url = https://github.com/R06NV4LDR/MasterAngular_04-cmp-deep-dive
[submodule "04.1-cmp-lifecycle"]
	path = 04.1-cmp-lifecycle
	url = https://github.com/R06NV4LDR/MasterAngular_04.1-cmp-lifecycle
[submodule "04.2w-binding"]
	path = 04.2w-binding
	url = https://github.com/R06NV4LDR/MasterAngular04.2w-binding
[submodule "05-drc-deep-dive"]
	path = 05-drc-deep-dive
	url = https://github.com/R06NV4LDR/MasterAngular_05-drc-deep-dive
[submodule "06-pipe-deep-dive"]
	path = 06-pipe-deep-dive
	url = https://github.com/R06NV4LDR/MasterAngular_06-pipe-deep-dive
[submodule "07-services-deep-dive"]
	path = 07-services-deep-dive
	url = https://github.com/R06NV4LDR/MasterAngular_07-services-deep-dive
	branch = main
[submodule "08-change-detection-deep-dive"]
	path = 08-change-detection-deep-dive
	url = https://github.com/R06NV4LDR/MasterAngular_08-change-detection-deep-dive
	branch = main
[submodule "09-rxjs-observables"]
	path = 09-rxjs-observables
	url = https://github.com/R06NV4LDR/MasterAngular_09-rxjs-observables
	branch = main
[submodule "10-http-requests"]
	path = 10-http-requests
	url = https://github.com/R06NV4LDR/MasterAngular_10-http-requests
	branch = main
[submodule "11-user-inputs"]
	path = 11-user-inputs
	url = https://github.com/R06NV4LDR/MasterAngular_11-user-inputs
[submodule "12-routing"]
	path = 12-routing
	url = https://github.com/R06NV4LDR/MasterAngular_12-routing
[submodule "13-defferable-views"]
	path = 13-defferable-views
	url = https://github.com/R06NV4LDR/MasterAngular_13-defferable-views
[submodule "14-deployment"]
	path = 14-deployment
	url = https://github.com/R06NV4LDR/MasterAngular_14-deployment
[submodule "18-ngrx"]
	path = 18-ngrx
	url = https://github.com/R06NV4LDR/MasterAngular_18-ngrx
[submodule "20-shoppinglist-recipe"]
	path = 20-shoppinglist-recipe
	url = https://github.com/R06NV4LDR/MasterAngular_20-shoppinglist-recipe
[submodule "15-authentication"]
	path = 15-authentication
	url = https://github.com/R06NV4LDR/MasterAngular_15-authentication
